﻿<div>
	<h2>Search Films by Title</h2>
	<input type="text" id="titleName" onkeypress="" size="5" />
	<input type="button" value="Search" onclick="find();" />
	<p id="filmSearch" />
</div>
<div class='hidden'>
	<p id="filmDetail" />
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
	var uri = 'api/values';

	$(document).keypress(function (e) {
	    if (e.which == 13) {
	        find();
	    }
	});

	function formatItem(item) {
		return item.Title.Name + ' (' + item.ReleaseYear + ')';
	}

	function find() {
		var name = $('#titleName').val();
		if (name != '')
		{
		    $.getJSON(uri + '/0?titleSearch=' + name)
				.done(function (data) {
				    if (data.length == 0) {
				        $('#filmSearch').text('No results');
				        return;
				    }

				    // On success, 'data' contains a list of products.
				    $('#filmSearch').empty();
				    $.each(data, function (key, item) {
				        // Add a list item for the product.
				        $('<li>', { text: formatItem(item) }).appendTo($('#filmSearch'));
				    });
				})
				.fail(function (jqXHR, textStatus, err) {
				    $('#filmSearch').text('Error: ' + err);
				});
		}
	}

	function click(id) {
	    $.getJSON(uri + '/' + id)
			.done(function (data) {
				// On success, 'data' contains a list of products.
			    $('#filmDetail').empty();
				$.each(data, function (key, item) {
				    // Add a list item for the product.
				    $('<li>', { text: formatItem(item) }).appendTo($('#filmDetail'));
				});
			})
			.fail(function (jqXHR, textStatus, err) {
			    $('#filmDetail').text('Error: ' + err);
			});
	}
</script>
